{% extends "base.html" %}

{% block title %}Your Prepwise Verification Code{% endblock %}

{% block heading %}Verify your email address{% endblock %}

{% block intro %}Use the following 6-digit verification code to complete your Prepwise registration and start your technical interview practice. This code will expire in <strong>{{ expiry_minutes }} minutes</strong>.{% endblock %}

{% block outro %}If you didn't create a Prepwise account, you can safely ignore this email. Someone may have entered your email address by mistake.{% endblock %}
